<div class="row body-bd-pubscontainer-pubs">
  <div class="col-12">
    <div class="row body-bd-pubscontainer-pubs-pub">
        <img src="../../../assets/images/stch.jpg" alt="">
    </div>
  </div>
</div>
<div class="row body-bd-pubscontainer-followings">
  <div class="col-12">
    <div class="row body-bd-pubscontainer-following-follow">
      <div class="col-4 body-bd-pubscontainer-following-follow-avatar">
        <img src="../../../assets/images/stch.jpg" alt="">
      </div>
      <div class="col-6 body-bd-pubscontainer-following-follow-dec">
        <p><b>Nom groupe</b></p>
        <p>Cour description</p>
      </div>
      <div class="col-2 body-bd-pubscontainer-following-follow-button">
        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row body-bd-pubscontainer-following-follow">
      <div class="col-4 body-bd-pubscontainer-following-follow-avatar">
        <img src="../../../assets/images/stch.jpg" alt="">
      </div>
      <div class="col-6 body-bd-pubscontainer-following-follow-dec">
        <p><b>Nom groupe</b></p>
        <p>Cour description</p>
      </div>
      <div class="col-2 body-bd-pubscontainer-following-follow-button">
        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row body-bd-pubscontainer-following-follow">
      <div class="col-4 body-bd-pubscontainer-following-follow-avatar">
        <img src="../../../assets/images/stch.jpg" alt="">
      </div>
      <div class="col-6 body-bd-pubscontainer-following-follow-dec">
        <p><b>Nom groupe</b></p>
        <p>Cour description</p>
      </div>
      <div class="col-2 body-bd-pubscontainer-following-follow-button">
        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row body-bd-pubscontainer-following-follow">
      <div class="col-4 body-bd-pubscontainer-following-follow-avatar">
        <img src="../../../assets/images/stch.jpg" alt="">
      </div>
      <div class="col-6 body-bd-pubscontainer-following-follow-dec">
        <p><b>Nom groupe</b></p>
        <p>Cour description</p>
      </div>
      <div class="col-2 body-bd-pubscontainer-following-follow-button">
        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="row body-bd-pubscontainer-following-others">
      <div class="col-12">
        <p> <a href="#">Autres suggestions</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row body-bd-pubscontainer-add-users">
  <div class="col-12">
    <div class="row body-bd-pubscontainer-add-users-follow">
      <div class="col-4 body-bd-pubscontainer-add-users-follow-avatar">
        <img src="../../../assets/images/wallpapers.jpg" alt="">
      </div>
      <div class="col-6 body-bd-pubscontainer-add-users-follow-dec">
        <p><b>Mon Nom </b></p>
        <p>Ma description</p>
      </div>
      <div class="col-2 body-bd-pubscontainer-add-users-follow-button">
        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row body-bd-pubscontainer-add-users-follow">
      <div class="col-4 body-bd-pubscontainer-add-users-follow-avatar">
        <img src="../../../assets/images/wallpapers.jpg" alt="">
      </div>
      <div class="col-6 body-bd-pubscontainer-add-users-follow-dec">
        <p><b>Mon Nom </b></p>
        <p>Ma description</p>
      </div>
      <div class="col-2 body-bd-pubscontainer-add-users-follow-button">
        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row body-bd-pubscontainer-add-users-follow">
      <div class="col-4 body-bd-pubscontainer-add-users-follow-avatar">
        <img src="../../../assets/images/wallpapers.jpg" alt="">
      </div>
      <div class="col-6 body-bd-pubscontainer-add-users-follow-dec">
        <p><b>Mon Nom </b></p>
        <p>Ma description</p>
      </div>
      <div class="col-2 body-bd-pubscontainer-add-users-follow-button">
        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row body-bd-pubscontainer-add-users-follow">
      <div class="col-4 body-bd-pubscontainer-add-users-follow-avatar">
        <img src="../../../assets/images/wallpapers.jpg" alt="">
      </div>
      <div class="col-6 body-bd-pubscontainer-add-users-follow-dec">
        <p><b>Mon Nom </b></p>
        <p>Ma description</p>
      </div>
      <div class="col-2 body-bd-pubscontainer-add-users-follow-button">
        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="row body-bd-pubscontainer-following-others">
      <div class="col-12">
        <p> <a href="#">Autres suggestions</a></p>
      </div>
    </div>
  </div>
</div>
