
<div class="row body-bd-postscontainer-post">
  <div class="col-12 post-head">
    <div class="row">
      <div class="col-1 post-head-avatar">
        <img src="../../../assets/images/wallpapers.jpg" alt="">
      </div>
      <div class="col-11 post-head-desc">
        <div class="row post-head-desc-name">
          <p><b>Adama Goudiaby</b></p>
        </div>
        <div class="row post-head-desc-profession">
          <p>Developpeur full stack</p>
        </div>
        <div class="row post-head-desc-date">
          <p>12h34  5/12/08</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 post-text">
    <p>
      L' enfant c'est comme de l'argile,il prend toujours la forme que vous lui donniez.actu et futurs parents à vous de savoir comment parfaire l'éducation de vos enfants.
    </p>
  </div>
  <div class="col-12 post-img-movie">
    <img src="../../../assets/images/wallpapers.jpg" alt="" srcset="">
  </div>
  <div class="col-12 post-notifications">
    <ul class="list-inline">
      <li class="list-inline-item">
        <span>12</span> j'aime
      </li>
      <li  class="list-inline-item">
          <span>3</span> commentaires
      </li>
    </ul>
  </div>
  <div class="col-12 post-notificatif">
    <ul class="list-inline">
      <li class="list-inline-item">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      </li>
      <li  class="list-inline-item">
        <i class="fa fa-comment" aria-hidden="true"></i>
      </li>
      <li  class="list-inline-item">
        <i class="fa fa-share" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
  <div class="col-12">
    <div class="row post-edit">
      <div class="col-11">
          <input type="text" class="form-control form-sm">
      </div>
      <div class="col-1">
        <i class="fa fa-image" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>


