<div class="container">
  <div class="header">
    <div class="header-hd">
      <div class="row">
          <div class="col-5">
            <div class="row">
              <div class="col-6 header-logo">
                  <img src="../../../assets/images/sntechmetalic.png" alt="" srcset="">
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-3 header-notifications">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span class="header-notifications-span">2</span>
                  </div>
                  <div class="col-3 header-notifications">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <span class="header-notifications-span">3</span>
                  </div>
                  <div class="col-3 header-notifications">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <span class="header-notifications-span">8</span>
                  </div>
                  <div class="col-3 header-notifications">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span class="header-notifications-span">1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 header-search" >
            <div class="row">
              <div class="col-8">
                  <input type="text" class="form-control input-sm">
              </div>
              <div class="col-4" class="header-search-icon">
                  <i class="fa fa-search" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col-3 logouticon" >
            <div class="row">
              <div class="col-9">
                 <p>Déconexion</p>
              </div>
              <div class="col-3">
                <i class="fa fa-power-off" aria-hidden="true"></i>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="header-separator">
      <span>i</span>
    </div>
    <div class="header-menu">
        <div class="row">
          <div class="col-1 header-menu-home" >
              <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <div class="col-10 header-menu-list">
            <ul class="list-inline">
              <li class="list-inline-item">Infos</li>
              <li class="list-inline-item">E-learning</li>
              <li class="list-inline-item">Emploi</li>
              <li class="list-inline-item">Groupes</li>
              <li class="list-inline-item">Evenements</li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="body">
    <div class="row">
      <div class="col-2 body-menu">
        <div class="row">
          <div class="offset-1 col-10">
            <div class="row body-menu-avatar" >
              <img src="../../../assets/images/wallpapers.jpg" alt="" srcset="" />
            </div>
            <div class="row" class="body-menu-avatar-desc">
              <span><b>Sn Tech Com</b></span>
              <span>Adama Goudiaby</span>
            </div>
            <div class="row body-menu-list">
              <div class="col-12">
                <div class="row" >
                  <div class="col-2 body-menu-icon">
                    <i class="fa fa-align-justify" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 body-menu-desc">
                    <p>Profile</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 body-menu-icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 body-menu-desc">
                    <p>Messages</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 body-menu-icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 body-menu-desc">
                    <p>Amis</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 body-menu-icon">
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 body-menu-desc">
                    <p>Projets</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 body-menu-icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 body-menu-desc">
                    <p>Classier</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-2 body-menu-icon">
                      <i class="fa fa-history" aria-hidden="true"></i>
                    </div>
                    <div class="col-10 body-menu-desc">
                      <p>Historique</p>
                    </div>
                </div>
                <div class="row">
                  <div class="col-2 body-menu-icon">
                    <i class="fa fa-battery-half" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 body-menu-desc">
                    <p>Performance</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-2 body-menu-icon">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 body-menu-desc">
                    <p>Outils</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 body-menu-icon">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 body-menu-desc">
                    <p>Parametres</p>
                  </div>
                </div>
              </div>
            </div>
       </div>
        </div>
        <div class="row">

        </div>
      </div>
      <div class="col-10 body-bd">
        <!-- ======================= the Container  ======================= -->
        <app-home></app-home>
      </div>
    </div>
  </div>

  <div class="footer">
    <!-- <div class="row footer-chatcollaborate">
      <div class="col-12 footer-chatcollaborate-head">
        <div class="row">
            <div class="col-3 footer-chatcollaborate-head-avatar">
              <p><b> Mon Nom</b></p>
              <p>mon statut</p>
            </div>
            <div class="col-6 footer-chatcollaborate-head-salon">
              <p>Salon des programmeurs chevronnés</p>
            </div>
            <div class="col-3 footer-chatcollaborate-head-deconection">
              <i class="fa fa-power-off" aria-hidden="true"></i>
            </div>
        </div>
      </div>
      <div class="col-12 footer-chatcollaborate-body">

      </div>
      <div class="col-12 footer-chatcollaborate-footer">

      </div>
    </div> -->
  </div>
</div>
