.container{
  padding: 0px;
  margin: 0px;
  min-width: 100%;
}

/*
  =================  Header =========================
*/

.logouticon i{
  color: white;
  font-size: 1.9rem;
  margin-right: 2rem;
}

.logouticon{
  text-align: right;
}


.logouticon p{
  padding-top: 0.2rem;
  font-size: 1.1rem;
  color: white;
}

.header{
  min-width: 100%;
  min-height: 10%;
  margin: 0px;
  padding: 0px;
  background-color: #36a9e0;
  box-shadow: 5px 10px 8px 0.5px #888888;
}

.header-hd{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header-menu{

}
.header-search input{
  border-radius: 4rem;
}

.fa-search{
  font-size: 2rem;
  color: white;
}

.fa-calendar,
.fa-bell,
.fa-user-plus,
.fa-clock-o{
    color: white;
    font-size: 1.3rem;
}

.header-search-icon{
  padding-top: 0.2rem;
}
.header-notifications{
   padding-top: 0.5rem;
}

.header-notifications-span{
  position: absolute;
  top: 0px;
  left: 0px;
  color:  #DC143C;
  background-color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
}

.header-separator{
  width: 100%;
  text-align: center;
}

.header-separator span{
  display: block;
  width: 98%;
  text-align: center;
  color: white;
  font-size:1px;
  background-color: white;
  margin-left: 1%;
}


.header-logo img{
   width: 40%;
   margin-left: 5%;
}

.header-menu-home i{
  color: white;
  font-size: 2.5rem;
  margin-left: 90%;
}

.header-menu-list{
  color: white;
  font-size: 1.2rem;
  text-align: left;
}

.header-menu-list li{
  margin-left: 4rem;
  padding-top: 0.5rem;
}

.header-menu-home{
  margin-right: 3rem;
}

/*
  ==============  Body ============================
*/
.body{

}

/* ------------- Body menu----- */
.body-menu{
  margin-top: 0.5rem;
  background-color:#36A9E0;
  min-height: 50%;
  text-align: center;
}

.body-menu-avatar img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  float: none;
  margin: 0 auto;

}



.body-menu-avatar-desc span{
  text-align: center;
  width: 100%;
  display: block;
  color: white;
}

.body-menu-avatar{
  margin-top:1rem;
}

.footer{

}

.body-menu-icon i{
  color: white;
  font-size: 1.2rem;
}

.body-menu-desc{
  color: white;
  text-align: left;
}

.body-menu-list{
  padding-top: 2rem;
}

/* -------------- Body container--------- */

.body-bd{
  background-color: rgba(54, 170, 224, 0.157);
}

/* -------------- Footer container--------- */

.footer{
  width: 100%;
  min-width: 100%;
}

.footer-chatcollaborate{
  position: fixed;
  background-color: white;
  right: 0px;
  bottom: 0px;
  min-width: 60%;
  min-height:35rem;
  z-index: 99;
}
